@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qafwwg');
  src:  url('fonts/icomoon.eot?qafwwg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qafwwg') format('truetype'),
    url('fonts/icomoon.woff?qafwwg') format('woff'),
    url('fonts/icomoon.svg?qafwwg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil-can:before {
  content: "\e900";
  color: #fff;
}
.icon-inclined-marker:before {
  content: "\e901";
  color: #edbc5a;
}
.icon-paint-can-open:before {
  content: "\e902";
  color: #fff;
}
.icon-billboard-with-text:before {
  content: "\e903";
  color: #edbc5a;
}
.icon-big-paint-roller:before {
  content: "\e904";
  color: #fff;
}
.icon-Group:before {
  content: "\e905";
  color: #edbc5a;
}
.icon-wish-list:before {
  content: "\e906";
  color: #fff;
}
.icon-send:before {
  content: "\e907";
}
