.title-border-1{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.51%, #EDBC5A 105.37%);
    width: 531px;
    height: 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @include lg {
        width: 360px;
    }
    @include sm {
        width: 260px;
    }
    @include xs {
        width: 130px;
    }
}
.title-border-2{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.51%, #EDBC5A 105.37%);
    width: 386px;
    height: 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @include lg {
        width: 320px;
        margin: 20px 0;
    }
    @include md {
        width: 200px;
    }
}
.title-border-3{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.51%, #EDBC5A 105.37%);
    width: 416px;
    height: 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @include xl{
        width: 395px;
        margin: 20px 0;
    }
    @include lg {
        width: 320px;
        margin: 20px 0;
    }
    @include md {
        width: 346px;
        margin: 20px 0;
    }
    @include sm {
        width: 300px;
        margin: 15px 0;
    }
}