.title-border-1{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.51%, #EDBC5A 105.37%);
    width: 531px;
    height: 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.title-border-2{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.51%, #EDBC5A 105.37%);
    width: 386px;
    height: 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}