.counter-area{
    @include lg{
        margin-right:25px;
    }
    @include md{
        gap: 20px;
    }
    @include sm{
        gap: 50px;
        display: flex;
    }
    @include rmaxwd (520){
        gap: 10px;
    }
    &.style-1{
        .counter-area-wrapper{
            @include md{
                margin-left: 20px;
            }
            @include sm{
                margin-bottom: 10px;
            }
            & span{
                color: #fff;
                font-family: Gilroy-Bold;
                font-size: 120px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include sm{
                    font-size: 60px;
                }
            }
            p{
                color: #FFF;
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px; /* 161.111% */
                letter-spacing: 6.66px;
                text-transform: uppercase;
                @include xl{
                    letter-spacing: 4.00px;
                    font-size: 17px;
                }
                @include md{
                    font-size: 16px;
                    letter-spacing: 4.66px;
                }
                @include sm{
                    font-size: 15px;
                    letter-spacing: 2.66px;
                }
                @include rmaxwd (520){
                    font-size: 14px;
                    letter-spacing: 1px;
                }
                @include rmaxwd (420){
                    font-size: 12px;
                    letter-spacing: 0;
                }
            }
        }
    }
    &.style-2{
        .counter-area-wrapper{
            @include md{
                margin-right: 20px;
            }
            @include sm{
                margin-right: 20px;
            }
            & span{
                color: #fff;
                font-family: Gilroy-Bold;
                font-size: 120px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include md{
                    font-size: 60px;
                }
                @include sm{
                    font-size: 60px;
                }
            }
            p{
                color: #FFF;
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 29px; /* 161.111% */
                letter-spacing: 6.66px;
                text-transform: uppercase;
                @include xl{
                    letter-spacing: 4.00px;
                    font-size: 17px;
                }
                @include lg{
                    letter-spacing: 3.66px;
                    font-size: 14px;
                }
                @include md{
                    letter-spacing: 1.66px;
                    font-size: 14px;
                }
                @include sm{
                    font-size: 15px;
                    letter-spacing: 2.66px;
                }
                @include rmaxwd (520){
                    font-size: 14px;
                    letter-spacing: 1px;
                }
                @include rmaxwd (420){
                    font-size: 12px;
                    letter-spacing: 0;
                }
            }
        }
    }
}
