.project-page{
    .project-area{
    @include xl{
        padding-bottom: 50px;
    }
    @include lg{
        padding-bottom: 20px;
    }
    @include md{
        padding-bottom: 5px;
    }
    @include sm{
        padding-bottom: 0px;
    }
    }
    .projects-wrapper{
       margin-bottom: 45px;
       @include sm{
        margin: 0 51px;
       }
       @include rmaxwd (575) {
        margin: 0 67px;
       }
       @include rmaxwd (445) {
        margin: 0 0;
       }
       .portfolio-area-content{
        h4{
            @include md {
                font-size: 18px;
            }
            @include rmaxwd (575) {
                font-size: 22px;
            }
        }
       }
    }
}