
.toggle-menus{
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    @include transition;
    position: absolute;
    z-index: 100;
    top: -100%;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0 50px;
   
    ul{
        padding: 25px 0;
        background: #222222;
        li{
            border-top: 1px solid #383838;
            border-bottom: 1px solid #383838;
            position: relative;
            line-height: 23px;
            & a{
                padding: 10px 23px;
                display: inline-block;
                &:hover{
                    text-decoration: underline;
                }
            }
            & .dropdown-btn{
                position: absolute;
                right: 10px;
                top: 0;
                width: 50px;
                height: 43px;
                text-align: center;
                line-height: 43px;
                border-left: 1px solid #383838;
                cursor: pointer;
            }
            ul{
                &.hidden-list{
                    display: none;
                    padding: 0 0;
                    @include transition;
                    margin-left: 20px;
                }
                li{  
                    & a{
                        font-size: 14px;
                        padding: 5px 23px;
                    }
                }
            }
        }
    }
}

#toggle-active.active {
    @include rmaxwd (991){
        transform: scaleY(1);
        visibility: visible;
        opacity: 1;
        left: 0;
        top: 100%;
    }
}
  