.footer-area{
    &-company-logo{
        @include lg{
            padding-bottom: 20px;
        }
        @include sm{
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
    }
    &-company-info{
        .line-1 {
            height: 443px;
            width: 1px;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            top: 24px;
            left: 323px;
            @include xl{
                left: 278px;
                height: 432px;
            }
            @include lg{
                left: 234px;
                height: 385px;
            }
            @include md{
                display: none;
                overflow: hidden;
            }
            @include sm{
                display: none;
                overflow: hidden;
            }
        }
    }
    &-heading-text{
        @include md{
            display: none;
            overflow: hidden;
        }
        @include sm{
            display: none;
            overflow: hidden;
        }
        h2{
            text-transform: uppercase;
            margin-bottom: 5px;
            @include xl{
                font-size: 45px;
            }
            @include lg{
                font-size: 40px;
            }
        }
        h4{
            font-family: Gilroy-Light;
            letter-spacing: 20.72px;
            text-transform: uppercase; 
            @include xl{
                font-size: 24px;
                letter-spacing: 19.72px;
            }
            @include lg{
                font-size: 19px;
                letter-spacing: 16.72px;
            }
        }
    }
    &-company-fast-email{
        @include lg{
            padding-bottom: 50px;
        }
        @include md{
            display: none;
            visibility: hidden;
        }
        @include sm{
            display: none;
            visibility: hidden;
        }
        & a{
            padding: 10px 30px;
            border-radius: 83px;
            border: 1px solid rgba(224, 224, 224, 0.15);
            display: inline-block;
            @include xl{
                padding: 10px 20px;
            }
            @include lg{
                padding: 10px 20px;
                font-size: 12px;
            }
        }
    }
    hr{
        width: 1293px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        height: 1px;
        display: flex;
        justify-content: center;
        @include xl{
            width: 1115px;
        }
        @include lg{
            width: 935px;
        }
        @include md{
            width: 700px;
        }
        @include sm{
            display: none;
        }
    }
    &-social-info{
        @include lg{
            padding-bottom: 28px;
        }
        @include md{
            padding: 15px 0;
        }
        @include sm{
            padding: 15px 0;
        }
        & .sce-email{
            @include xl{
                margin-left: 70px;
            }
            @include lg{
                margin-left: 30px;
            }
            @include md{
                margin-left: 0;
            }
            @include sm{
                margin-left: 0;
                margin-bottom: 15px;
            
            }
            a{
                display: inline-block;
                @include lg{
                    font-size: 12px;
                }
            }
        }
        .social-content{
            a{
                display: inline-block;
                font-family: Rubik;
                font-size: 14px;
                line-height: normal;
            }
        }
    }
    &-quick-menu{
        margin-left: 120px;
        @include xl{
            margin-left: 70px;
        }
        @include lg{
            margin-left: 30px;
            padding-top: 25px;
        }
        @include md{
            margin-left: 0;
            padding-top: 25px;
            display: flex;
            justify-content: center;
        }
        @include sm{
            margin-left: 0;
            padding-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 15px;
        }
        @include xs{
            flex-direction: column;
        }
    }
    &-quick-menu-one{
       li{
        margin-bottom: 4.5px;
       }
    }
    &-quick-menu-two{
      @include sm{
        margin-left: 20px;
        margin-right: 50px;
      }
      @include rmaxwd (378){
        margin-left: 20px;
        margin-right: 0px;
      }
      @include xs{
        margin: 0 0 0 0;
      }
    }
    &-services{
        h4{
            @include xs{
                margin: 15px 0 10px 0;
            }
        }
    }
    .footer-copy-right-info{
        @include md{
            padding: 15px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
        @include sm{
            padding: 15px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }
        span{
            color: var(--White, #FFF);
            text-align: center;
            font-family: Gilroy-Regular;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            a{
                color: #EDBC5A;
                font-family: Gilroy-SemiBold;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: inline-block;
            }
        }
    }
}
