.header-area{
  background:#131313;
  &-image{
    @include lg{
      margin-left: 50px;
    }
    @include md{
      padding: 25px 0;
      margin-left: 50px;
    }
    @include sm{
      padding: 25px 0;
      margin-left: 5px;
    }
  }
  &-main-menu{
    & ul{
      @include xxl{
        margin-left: 210px;
      }
      @include xml{
        margin-left: 80px;
      }
      @include xl{
        margin-left: 50px;
      }
      @include lg{
        margin-left: 30px;
      }
      @include rmaxwd(991){
        display: none;
        visibility: hidden;
      }
      & li{
        margin-left: 80px;
        padding: 57px 0;
        line-height: normal;
        list-style: none;
        position: relative;
        @include xl{
          margin-left: 60px;
        }
        @include lg{
          margin-left: 35px;
        }
        &:hover{
          & a{
            color: #EDBC5A;
          }
          & .sub-menu{
            visibility: visible;
            top: 140px;
            opacity: 1;
            transform: scaleY(1);
          }
        }
        & .sub-menu{
          position: absolute;
          left: -30px;
          top: 100%;
          width: 250px;
          visibility: hidden;
          transition: all 0.5s ease 0s;
          z-index: 1;
          opacity: 0;
          transform: scaleY(0);
          transform-origin: top center;
          & li{
            margin-left: 0;
            padding: 10px 20px;
            background: #333333;
            border: 1px solid #484848;
            a{
              color: #fff;
              font-size: 16px;
              transition: all 500ms ease;
            }
            &:hover{
              a{
                color: #EDBC5A;
                text-decoration: underline;
              }
            }
          }
        }
        & a{
        color: #fff;
        font-family: Gilroy-SemiBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: inline-block;
        @include lg{
          font-size: 16px;
        }

        &.plus-icon::after {
          content: "\2b";
          font-family: "FontAwesome";
          font-size: 14px;
          margin-left: 5px;
          font-weight: 900;
        }
        }
      }
    }
  }
  &-touch-btn{
    margin-left: 20px;
    a{
      display: inline-block;
      padding: 10px 26px;
      border-radius: 111px;
      border: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
  #toggle-button{
    display: none;
    visibility: hidden;
    margin-right: 30px;
    @include rmaxwd(991){
      display: block;
      visibility: visible;
    }
    @include sm{
      margin-right: 30px;
      margin-top: 4px;
    }
    a{
      font-size: 30px;
    }
  }
  &-menu-icon{
    @include lg{
      margin-right: 50px;
    }
    @include md{
      margin-right: 50px;
      padding-bottom: 6px;
    }
    @include sm{
      margin-right: 10px;
    }
    a{
      &.canvas::after {
        content: 'Menu';
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        margin: 15px;
        margin-left: 15px;
      }
    }
  }
}

  

