.gallery-area{
    @include xl{
        padding-bottom: 105px;
    }
    @include lg{
        padding-bottom: 70px;
    }
    @include md{
        padding-bottom: 55px;
    }
    @include sm{
        padding-bottom: 40px;
    }
    &-bg-shape{
        top: -22px;
        left: 20px;
        z-index: 999;
        @include sm{
            display: none;
        }
    }
    &-wrapper{
        @include rmaxwd(1800){
            margin-right: 0;
            margin: 0 20px;
        }
    }
    &-info{
        @include sm{
            display: none;
            visibility: hidden;
        }
    }
    &-big-img{
        @include lg{
            margin-bottom: 30px;
        }
        @include md{
            margin-bottom: 26px;
        }
        @include sm{
            margin-bottom: 16px;
        }
    }
    .shape-img{
        @include lg{
            width: 150px;
        }
        @include md{
            width: 150px;
        }
    }
    &-text{
        & h2 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--Primary, #EDBC5A);
            font-size: 80px;
            letter-spacing: 16px;
            text-transform: uppercase;
            color: transparent;
            margin-bottom: 22px;
            @include xl{
                font-size: 40px;
            }
            @include lg{
                font-size: 28px;
                letter-spacing: 8px;
            }
            @include md{
                font-size: 40px;
                letter-spacing: 7px;
                margin-bottom: 15px;
            }
        }
        & h6{
            font-size: 47px;
            letter-spacing: 20.5px;
            text-transform: uppercase;
            font-family: Gilroy-Light;
            @include xl{
                font-size: 30px;
                letter-spacing: 12.5px;
            }
            @include lg{
                font-size: 24px;
                letter-spacing: 10.5px;
            }
            @include md{
                font-size: 20px;
                letter-spacing: 7px;
            }
        }
    }
    &-image-shape{
        & .shape-1{
            left: 18px;
            top: 0;
            @include xl {
                max-width: 52%;
            }
            @include lg {
                max-width: 48%;
            }
            @include sm{
                display: none;
            }
        }
        & .shape-2{
            margin-left: 70px;
            @include xl {
                max-width: 52%;
            }
            @include lg {
                max-width: 48%;
            }
            @include sm{
                display: none;
            }
        }
    }
    &-image-none{
        @include sm{
            display: none;
        }
    }
}