.hero-area{
    @include rmaxwd(1399){
        padding-top: 0;
    }
    &::after{
        content: "";
        position: absolute;
        width: 376px;
        height: 376px;
        right: 50px;
        top: -90px;
        background: rgba(237, 188, 90, 0.70);;
        filter: blur(200px);
        z-index: 5;
        animation: zoomInOut 5s 2s infinite;
      }
    &-bg-one {
        top: 3px;
        left: 2px;
        @include xl{
            opacity: .3;
        }
        @include lg{
            opacity: .3;
        }
    }
    &-bg-four{
        right: 340px;
        bottom: 325px;
        @include rmaxwd(1550){
            right: 15%;
        }
        @include lg{
            right: 5%;
        }
        @include sm{
            display: none;
        }
    }
    &-bg-block-shape{
        top: 0;
        right: 100px;
        z-index: 11;
        @include rmaxwd(1700){
            max-width: 50%;
            max-height: 50%;
        }
        @include rmaxwd(1500){
            max-width: 45%;
            max-height: 45%;

        }
        @include xl{
            max-width: 35%;
            max-height: 35%;
            right: 65px;
        }
        @include rmaxwd(1199){
           display: none;
           visibility: hidden;
        }
    }
    &-title-one{
        position: relative;
        @include xl{
            font-size: 120px;
        }
        @include lg{
            font-size: 120px;
        }
        @include md{
            font-size: 100px;
        }
        @include sm{
            font-size: 80px;
        }
        @include rmaxwd(576){
            font-size: 50px;
        }
        @include xs{
            font-size: 30px;
        }
        & span{
           -webkit-text-stroke-width: 1px;
           -webkit-text-stroke-color: #FFF;
           color: transparent;
           &::before{
                content: "";
                width: 149px;
                height: 132px; 
                background: url(../images/shape/hero-1-super-toroid-black-matte-2.png) no-repeat 100% 100%;
                background-size: 100% 100%;
                position: absolute;
                left: 575px;
                top: 0;
                z-index: -1;
                animation: rotated_circle 30s infinite;
                
                @include xl{
                    left: 480px;

                }
                @include lg{
                    left: 480px;
                    width: 120px;
                    height: 110px;
                }
                @include md{
                    left: 410px;
                    width: 100px;
                    height: 90px;
                }
                @include sm{
                    width: 70px;
                    height: 65px;
                    left: 330px;
                }
                @include rmaxwd(576){
                    width: 50px;
                    height: 50px;
                    left: 200px;
                    top: -5px;
                }
                @include xs{
                    display: none;
                }
           }
           &::after{
                content: "";
                width: 180px;
                height: 156px;
                background: url(../../images/shape/hero-1-element-3.png) no-repeat 100% 100%;
                background-size: 100% 100%;
                position: absolute;
                right: 350px;
                top: 56px;
                z-index: -1;
                @include xl{
                    right: 284px;
                    top: 38px;
                }
                @include lg{
                    right: -10px;
                    right: 157px;
                    width: 126px;
                    height: 118px;
                }
                @include md{
                    right: 48px;
                    width: 100px;
                    height: 90px;
                    top: 35px;
                }
                @include sm{
                    width: 70px;
                    height: 65px;
                    right: 7px;

                }
                @include rmaxwd (576){
                    width: 70px;
                    height: 65px;
                    left: 264px;
                    top: 13px;
                }
                @include xs{
                    display: none;
                }
           }
       }
   }
   &-title-two{
       color: #FFF;
       font-family: Gilroy-Light;
       font-size: 100px;
       font-style: normal;
       font-weight: 400;
       line-height: 150%;
       letter-spacing: 70px;
       text-transform: uppercase;
       @include xl{
        font-size: 65px;
    }
        @include lg{
            font-size: 45px;
        }
       @include md{
        font-size: 46px;
        }
       @include sm{
        font-size: 50px;
        letter-spacing: 18px;
        }
        @include rmaxwd(576){
            font-size: 50px;
        }
        @include xs{
            font-size: 20px;
        }
    }

    &-slider-section{
        margin-top: -53px;
        @include lg{
            margin-top: -20px;
        }
        @include md{
            margin-top: -22px;
        }
        @include sm{
            margin-top: 10px;
        }
        &::after{
        content: "";
        width: 120px;
        height: 120px;
        background: #141413;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 11;
            @include lg {
                width: 75px;
                height: 75px;
            }
            @include md {
                width: 75px;
                height: 75px;
            }
            @include sm {
                display: none;
            }
        }
    }
    &-slider-inner-text{
        bottom: 140px;
        left: 114px;
        @include lg{
            bottom: 60px;
        }
        @include md{
            bottom: 70px;
        }
        @include sm{
            bottom: 70px;
        }
        @include rmaxwd(480){ 
            bottom: 50px;
            left: 55px;
        }
        & h3{
            @include lg{
                margin-bottom: 15px;
                font-size: 30px;
            }
            @include md{
                margin-bottom: 15px;
                font-size: 30px;
            }
            @include sm{
                margin-bottom: 10px;
                font-size: 22px;
            }
            @include xs{
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }
    &-slider-text-1 {
        color: #B0B0B0;
        letter-spacing: 6.4px;
        text-transform: uppercase;
        @include xs{
            font-size: 12px;
        }
    }
    &-slider-text-2{
        & span{
            font-family: Gilroy-Light;
        }
    }
   
    &-author-Wrapper{
        position: absolute;
        bottom: 0;

        @include rmaxwd(1831){
            padding-left: 120px;
        }
        @include xxl{
            padding: 0 55px 0 65px;
        }
        @include xml{
            padding: 0 28px 0 28px;
        }
        @include xl{
            padding: 0px 3px 0 11px;
        }
        @include lg{
            padding: 0 10px 0 10px;
        }
        @include sm{
            display: none;
            visibility: hidden;
        }

        p{
            @include xl{
                font-size:14px;
            }
            @include lg{
                font-size:11px;
            }
        }
    }

    &-author-text{

        & h5{
            color: #FFF;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 29px;
        }
        & span{
            color: #FFF;
            font-family: Rubik;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}


// hero-area honme-2
.hero-area-two{
    position: relative;
    @include xl{
        padding-top: 28px;
    }
    @include lg{
        padding-top: 25px;
    }
    @include md{
        padding-top: 20px;
    }
    @include sm{
        padding-top: 20px;
    }
   
    &::after{
        content: "";
        position: absolute;
        width: 376px;
        height: 376px;
        right: 58px;
        top: 0px;
        background: rgba(237, 188, 90, 0.70);;
        filter: blur(200px);
        animation: zoomInOut 5s 2s infinite;
        z-index: 1;
        @include sm{
            width: 276px;
            height: 276px;
            right: 20px;
        }
      }
      .spiral-shape{
        right: 90px;
        top: 10px;
        animation: rotated_circle 30s infinite;
        @include sm{
            left: 10px;
        }
      }
    
    &-first-containt-inner{
        margin-left: -60px;
        @include rmaxwd(1600){
            margin-left: 0;
        }
        @include sm{
            margin-bottom: 30px;
        }
        h1{
            text-transform: uppercase;
            @include xl{
                font-size: 130px;
            }
            @include lg{
                font-size: 105px;
            }
            @include md{
                font-size: 82px;
            }
            @include sm{
                font-size: 53px;
            }
            @include rmaxwd(480) {
                font-size: 35px;
            }
            &.after-shape{
                position: relative;
                &::after{
                    content: "";
                    background: url(../../images/shape/h2-hero-star-shape.svg) no-repeat 100% 100%;
                    background-size: 100% 100%;
                    width: 132px;
                    height: 132px;
                    z-index: 1;
                    position: absolute;
                    margin-left: 55px;
                    @include md{
                        width: 120px;
                        height: 120px;
                        margin: -15px 0 0 33px;
                    }
                    @include sm{
                        width: 60px;
                        height: 60px;
                        margin: -8px 0 0 33px;
                    }
                    @include rmaxwd (480){
                        width: 60px;
                        height: 60px;
                        margin: -20px 0 0 33px;
                    }
                }
            }
            span{
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #FFF;
                color: transparent;
            }
            
        }
    }
    &-second-inner{
        margin-left: -60px;
        margin-left: -60px;
        @include rmaxwd(1600){
            margin-left: 0;
        }
    }
    &-contain-img{
        border-radius: 250px;
        @include md{
            margin-bottom: 30px;
        }
        @include sm{
            margin-bottom: 30px;
        }
    }
    &-contain-text{
        width: 191px;
        height: 191px;
        border-radius: 50%;
        background: $primary-color;
        text-align: center;
        padding: 40px 36px;
        bottom: 0;
        right: -10px;
        @include lg{
            width: 140px;
            height: 140px;
            padding: 18px 36px;
        }
        @include sm{
            width: 120px;
            height: 120px;
            padding: 10px 17px;
        }
        @include rmaxwd(480) {
            width: 90px;
            height: 90px;
            padding: 10px 17px;
        }
       a{
            display: inline-block;
            font-family: Gilroy-Bold;
            span{
                font-size: 40px;
                color: $black;
                @include transition;
                @include sm{
                    font-size: 25px;
                }
            }
            h4{
                font-size: 20px;
                font-weight: 400;
                color: $black;
                @include transition;
                @include sm{
                    font-size: 20px;
                }
                @include rmaxwd(480) {
                    font-size: 16px;
                }
            }
            &:hover{
                span ,h4{
                    color: $secondary-color;
                }
            }
       }
    }
    &-clint-review{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        p{
            @include sm{
                font-size: 14px;
            }
        }
    }
    &-client-info{
        .client-img{
            .single-images{
                width: 62px;
                height: 62px;
                border-radius: 50%;
                border: 3px solid #fff;
            }
            .clint-1{
                left: 0;
                z-index: 1;
            }
            .clint-2{
                left: 31px;
                z-index: 2;
            }
            .clint-3{
                left: 62px;
                z-index: 3;
            }
        }
        .pluse-shape{
            a{
                width: 62px;
                height: 62px;
                background: #EDBC5A;
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
                border: 3px solid $secondary-color;
                left: 96px;
                z-index: 4;
            }
            &:hover{
                a{
                    color: $black;
                }
            }

        }
        .client-text{
            p{
                color: $secondary-color ;
                @include lg{
                    font-size: 14px;
                }
            }
        }
    }
}