.portfolio-area{
    &-wrapper{
        position: relative;
       &::after{
            content: "";
            background-color: rgba(255, 255, 255, 0.20);
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.5s ease-out;
        }
        
        @include sm{
            margin-bottom: 30px;
        }
        &:hover{
            &.portfolio-area-wrapper{
               &::after{
                background-color: $primary-color;
               }
            }
        }
    }
    &-content{
        h4{
            @include md{
                font-size: 26px;
            }
        }
    }
    &-btnn{
        @include md{
            padding-bottom: 0;
        }
        & a{
            color: #EDBC5A !important;
            font-family: Gilroy-Medium;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: inline-block;
            padding: 22px 20px 20px 38px;
            border-radius: 38px;
            border: 1px solid rgba(255, 255, 255, 0.20);
        }
    }
    .portfolio-area-awards{
        @include lg{
            padding-top: 10px;
        }
        @include sm{
            padding-top: 5px;
        }
        &-arrow-shape{
            width: 427px;
            height: 427px;
            top: -153px;
            left: 42px;
            @include lg{
                left: -40px;
                top: -200px;
            }
            @include md{
                left: 7px;
                top: -58px;
                width: 227px;
                height: 227px;
            }
            @include sm{
                width: 250px;
                height: 250px;
                top: -69px;
                left: -31px;;
            }
        }
    }
    &-awards-wrapper{
        @include md{
            margin-bottom: 40px;
        }
    }
    .portfolio-area-awards-spacing{
        @include lg{
            margin: 0 50px 0 50px;
        }
       @include sm{
        margin: 20px 0 20px 0;
        
       }
    }
    &-awards-img{
        width: 100px;
        height: 100px;
        background: #EDBC5A;
        border-radius: 50%;
        line-height: 99px;
        text-align: center;
        &.style-2{
            background: #B0B0B0;
        }
        &.style-3{
            background: $white;
        }
        @include xl{
            width: 80px;
            height: 80px;
            line-height: 79px;
        }
        @include lg{
            width: 80px;
            height: 80px;
            line-height: 79px;
        }
        @include md{
            width: 70px;
            height: 70px;
            line-height: 68px;
        }
        @include sm{
            width: 70px;
            height: 70px;
            line-height: 68px;
        }
    }
    &-awards-text{
        & h3{
            @include rmaxwd(1550){
                font-size: 32px;
            }
            @include xl{
                font-size: 26px;
            }
            @include lg{
                font-size: 20px;
            }
            
            @include sm{
                font-size: 25px;
            }
            
            @include xs{
                font-size: 20px;
            }
        }
    }
    &-awards-text-border{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.50);
    }


    &-slider{
        @include xl{
            padding-bottom: 50px;
        }
        @include lg{
            padding-bottom: 50px;
        }
        @include md{
            padding-bottom: 50px;
        }
        @include sm{
            padding-bottom: 30px;
        }
    }
    &-slider-wrapper{
        position: relative;
        left: 199px;
        @include xxl{
            left: 167px;
        }
        @include xml{
            left: 147px;
        }
        @include xl{
            left: 0px;
        }
        @include lg{
            left: 0px;
        }
        @include md{
            left: 0px;
            margin-left: 25px;
        }
        @include sm{
            left: 0px;
            margin-left: 20px;
        }
        @include rmaxwd(460){
            margin-left: 0;
        }
    }
}


