.team-area {
    &-member-info-wrapper {
        @include rmaxwd(400) {
            gap: 20px;
            display: flex;
            flex-direction: column;
        }
    }

    &-member-info-1 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);

        @include md {
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

        @include sm {
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }
    }

    &-member-info-2 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        border-left: 1px solid rgba(255, 255, 255, 0.10);

        @include lg {
            padding-left: 80px;
        }

        @include md {
            border-left: none;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;
        }

        @include sm {
            border-left: none;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;
        }
    }

    &-member-info-3 {
        @include md {
            display: flex;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        }

        @include sm {
            display: flex;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        }
    }

    &-member-info-4 {
        border-left: 1px solid rgba(255, 255, 255, 0.10);

        @include md {
            border: none;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;
        }

        @include sm {
            border: none;
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;
        }

    }

    &-member-info-wrappe-secondary {
        @include sm {
            margin-bottom: 35px;
        }
    }

    &-member-img {
        width: 200px;
        height: 200px;

        @include lg {
            width: 130px;
            height: 130px;
        }

        @include md {
            width: 130px;
            height: 130px;
        }

        @include sm {
            width: 130px;
            height: 130px;
        }

        @include rmaxwd(400) {
            width: 110px;
            height: 110px;
        }

        img {
            border-radius: 100%;
        }
    }

    &-member-img-secondary {
        width: 416px;
        height: 416px;
        margin-bottom: 40px;

        @include xl {
            width: 360px;
            height: 360px;
        }

        @include lg {
            width: 300px;
            height: 300px;
        }

        @include md {
            width: 220px;
            height: 220px;
        }

        @include sm {
            width: 220px;
            height: 220px;
            margin: 0 auto;
            display: inline-block;
            display: flex;
            justify-content: center;
        }
    }

    &-member-text {
        h4 {
            margin-bottom: 5px;

            @include md {
                font-size: 20px;
            }

            @include sm {
                font-size: 20px;
            }

            @include rmaxwd(400) {
                text-align: center;
            }
        }

        p {
            @include rmaxwd(400) {
                text-align: center;
            }
        }

    }

    &-member-social-link {
        li {
            padding: 10px;
            margin-right: 10px;
            white-space: nowrap;
            @include transition;

            &:hover {
                background: red;
                border-radius: 50%;
            }

            a {
                color: #fff;
            }
        }

    }
}